/* Created by iyortml */
body{
	margin: 0;
	padding: 0;
	background: rgba(0,0,0, 0.8);
}

#main0{
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	font-size: 60px;
	font-family: bold;
	background: #ffffff;
	width: 90%;
	height: 100%;
}

p{
	margin: auto;
	padding: 10px;
	font-size: 35px;
}

button{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #3d3d3d;
	text-align: center;
	font-size: 25px;
	background: gainsboro;
	color:#3d3d3d;
	cursor:pointer;
}

button:hover{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #3d3d3d;
	text-align: center;
	font-size: 25px;
	background: #3d3d3d;
	color:#ffffff;
	cursor:pointer;
	transition: all 1s ease;
}

a{
	margin: auto;
	padding: 5px;
	font-size: 18px;
	text-decoration:none;
	color:#3d3d3d;
}

a:hover{
	margin: auto;
	padding: 5px;
	font-size: 18px;
	text-decoration:none;
	color:blue;
	transition: all 1s ease;
}

/* Iklan */
#allatack{
	width: auto;
	height: auto;
	margin:5px;
}

.adsPro{
	margin:auto;
	width:92%;
	height:90px;
	border: 10px solid lightgray;
}

.adsMain {
	width:100%;
	height:90px;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
}

.adsMain .masker,.adsMain .content {
	width:100%;
	height:90px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.adsMain img {
	width:100%;
	height:100%;
	display: block;
	position: relative;
}
.adsMain h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}

.adsMain-first img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.adsMain-first .masker {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	background-color: rgba(521,212,11, 0.7);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.adsMain-first h2 {
	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-o-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.adsMain-first:hover img {
	cursor:pointer;
	-webkit-transform: scale(1.1,1.1);
	-moz-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.adsMain-first:hover .masker {
	cursor:pointer;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.adsMain-first:hover h2,
.info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

i{margin:0;}
/* RTML */
#rtmlads{height:140px;}
#adsProClose{cursor:pointer;margin-top: 10px;padding: 5px;color: black;background: lightgrey;float: right;margin-right: -10px;}
#adsProClose:hover{margin-top: 10px;padding: 5px;color:lightgrey;background: black;float: right;margin-right: -10px;transition: all 1s ease;}
#adsProBy{cursor:pointer;margin-top: 10px;padding: 5px;color: black;background: lightgrey;float: right;}
#adsProBy:hover{margin-top: 10px;padding: 5px;color:lightgrey;background: black;float: right;transition: all 1s ease;}
#adsOwner{display:none;cursor:pointer;margin-top: 10px;padding: 5px;color: black;background: lightgrey;float: right;font-size: 12px;height: 15px;}
#adsOwner:hover{margin-top: 10px;padding: 5px;color: lightgrey;background: black;float: right;font-size: 12px;height: 15px;transition: all 1s ease;}

/* adfly */
#adfly{height:140px;}
#adsCloseadfly{cursor:pointer;margin-top: 10px;padding: 5px;color: black;background: lightgrey;float: right;margin-right: -10px;}
#adsCloseadfly:hover{margin-top: 10px;padding: 5px;color:lightgrey;background: black;float: right;margin-right: -10px;transition: all 1s ease;}
#adsByadfly{cursor:pointer;margin-top: 10px;padding: 5px;color: black;background: lightgrey;float: right;}
#adsByadfly:hover{margin-top: 10px;padding: 5px;color:lightgrey;background: black;float: right;transition: all 1s ease;}
#adsadfly{display:none;cursor:pointer;margin-top: 10px;padding: 5px;color: black;background: lightgrey;float: right;font-size: 12px;height: 15px;}
#adsadfly:hover{margin-top: 10px;padding: 5px;color: lightgrey;background: black;float: right;font-size: 12px;height: 15px;transition: all 1s ease;}
